.container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.generar {
    background-color: green;
    color: white;
    margin-right: 10px;
}

.consultar {
    background-color: blue;
    color: white;
}