/* .mat-dialog-title {
    color: #4CAF50;
  }

  .mat-dialog-title + .mat-dialog-actions .mat-icon-button {
    color: #4CAF50;
  }
  
  .mat-dialog-title + .mat-dialog-actions .mat-icon-button:hover {
    background-color: #4CAF50;
    color: white;
  }

  .mat-dialog-content .mat-progress-spinner {
    stroke: #4CAF50;
    stroke-width: 4;
    fill: transparent;
  }
   */