<div class="container">
    <div class="form-group">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="title">
                <p>REGISTRO</p><br>
            </div>
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="loginForm.get('email')?.invalid">Ingrese un correo electrónico válido</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cedula</mat-label>
                <input matInput formControlName="numDoc">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="loginForm.get('password')?.invalid">Ingrese una contraseña válida</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Crear cuenta</button>
            <br>
            <button mat-raised-button color="primary" [routerLink]="['/login/login']">Iniciar sesión</button>

        </form>
    </div>
</div>